
html,
head {

    scroll-behavior: smooth;
    height: 100%;
}

em {
  font-family: "IBM Plex Mono";
  font-size: 18px;
  font-style: normal;
  color: crimson;

}

/*------------ THIS IS THE MAP/POP-UP---------------*/

/* The Modal (background) */
.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  /* background-image: url("");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

/* Modal Content/Box */
.map-content {
  background-color: #fefefe;
  /* background-image: url("images/enter_blur.png") */
  /* width: 50vw; */
  height: 60vh;
  width: 45vw; /* Could be more or less, depending on screen size */
  margin: 10% auto; /* 15% from the top and centered */
  padding-top: 2vh;
  padding-bottom: 3vh;
  padding-left: 2vw;
  padding-right: 2vw;
  /* padding: 20px; */
  border: none;
  /* border: 1px solid #888; */
  /* overflow: scroll; */
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: normal;
  color: crimson;
  font-size: 18px;
  line-height: 20px;
}

.map {
  height: 100%;

}

/* The Close Button */
.close2 {
  color: crimson;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 22vh;
  left: 70vw;
}

.close2:hover,
.close2:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#myBtn2 {
  color: white;
  z-index: 1;
  top: 86vh;
  left: 1vw;
  position: fixed;
  border-radius: 50%;
  background-color: crimson;
  padding-top: 0.1vh;
  padding-bottom: 2.1vh;
  padding-left: 1.4vw;
  padding-right: 1.4vw;
  font-family: "IBM Plex Mono";
  font-size: 40px;
  font-style: normal;
}

/*------------ THIS IS THE INFO BUTTON/POP-UP---------------*/

  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    /* background-color: rgb(0,0,0); /* Fallback color */
    /* background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    background-image: url("images/enter_blur.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    /* background-image: url("images/enter_blur.png") */
    /* width: 50vw; */
    height: 60vh;
    width: 45vw; /* Could be more or less, depending on screen size */
    margin: 10% auto; /* 15% from the top and centered */
    padding-top: 5vh;
    padding-bottom: 3vh;
    padding-left: 1vw;
    padding-right: 2vw;
    /* padding: 20px; */
    border: none;
    /* border: 1px solid #888; */
    overflow: scroll;
  }

  /* The Close Button */
  .close {
    color: crimson;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 22vh;
    left: 70vw;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  #myBtn {
    color: white;
    z-index: 1;
    top: 86vh;
    left: 94vw;
    position: fixed;
    border-radius: 50%;
    background-color: black;
    padding-top: 0.1vh;
    padding-bottom: 2.1vh;
    padding-left: 1.4vw;
    padding-right: 1.4vw;
    font-family: "IBM Plex Mono";
    font-size: 40px;
    font-style: normal;
  }

body {

    /* background-color: white; */
    background-color: #f2f2f2;
    /* background-color: rgba(239, 239, 239,1); */
    /* background-color:rgba(255, 255, 153, 1); */
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* overflow-x: hidden; */
}

::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    box-sizing: border-box;

}

.instructions {
  height: auto;
  width: 100%;
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: normal;
  color: black;
  font-size: 14px;
  line-height: 15px;
  justify-content: left;
  padding-bottom: 4vh;
  padding-left: 1.5vw;
  /* padding-top: 30vh; */
}

.welcome {
  /* height: auto;
  width: 100%; */
  /* z-index: 10; */
  /* left: 20vw;
  top: 20vh; */
}

.title {
  width: 30%;
  height: 30%;
  left: 20vw;
  top: 20vh;
  position:  fixed;
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: normal;
  color: red;
  font-size: 18px;
  line-height: 19px;
  /* z-index: 10; */

  /* justify-content: left; */
  /* padding-bottom: 4vh;
  padding-left: 1.5vw; */
}



.enter1 {
  background-image: url("images/enter.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  /* display: none; */
}

.enter2 {
  background-image: url("images/enter_blur.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
  /* display: none; */
}

.living1 {
  background-image: url("images/living1.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -3;
  /* display: none; */
}

.living2 {
  background-image: url("images/living2.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -4;
  /* display: none; */
}

.bigbed1 {
  background-image: url("images/bigbed1.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -5;
  /* display: none; */
}

.bigbed2 {
  background-image: url("images/bigbed2.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -6;
  /* display: none; */
}
